{% load static %}
<script>
    const db_name = "{{ request.session.db_file | default:'EQUUS DATA.csv' }}";
    const mainnet = {{ mainnet | safe }};
</script>

<script>
    const text_editor = ace.edit("file-text");
    const PythonMode = ace.require("ace/mode/python").Mode;
    text_editor.session.setMode(new PythonMode());
</script>

<script src="{% static  'js/core.js' %}" type="text/javascript"></script>
<script src="{% static  'js/mainnet.js' %}" type="text/javascript"></script>
<script src="{% static  'js/graph_config.js' %}" type="text/javascript"></script>
<script src="{% static  'js/graph_control.js' %}" type="text/javascript"></script>
<script src="{% static  'js/fb_init.js' %}"></script>